<div class="flat-card">
  <% if profile.avatar.attached? %>
    <%= cl_image_tag profile.avatar.key, class: "flat-card-profile-picture" %>
  <% else %>
    <img src="https://via.placeholder.com/150" class="flat-card-profile-picture" alt="Profile picture">
  <% end %>
  <div class="wrapper-card-profile-content d-flex flex-row justify-content-between">
    <div class="info">
      <h1 class="flat-card-name"><%= profile.name %> <%= link_to "View profile", profile_path(profile.user), class: "btn btn-light btn-sm" %></h1>

    </div>
  </div>
  <div class="response-buttons d-flex flex-row">
    <%= button_to job_response_path(job_response, status: 'accepted'), method: :patch, class: "btn btn-outline-dark btn-sm me-1"  do %>
      <i class="fa-solid fa-check"></i>
    <% end %>
    <%= button_to job_response_path(job_response, status: 'declined'), method: :patch, class: "btn btn-outline-dark btn-sm me-1"  do %>
      <i class="fa-solid fa-times"></i>
    <% end %>
    <%= button_to job_response_path(job_response), method: :delete, class: "btn btn-outline-dark btn-sm", style: "--bs-btn-padding-y: .1rem; --bs-btn-padding-x: .2rem; --bs-btn-font-size: .75rem;" do %>
        <i class="fa-solid fa-trash"></i>
      <% end %>
  </div>
</div>
