<div class="outer-frame" data-controller="blogFilter">
  <div class="inner-button">
    <% if current_user.blogs.empty? %>
      <% Blog.create(user: current_user, title: "My Blog") %>
    <% end %>
    <%=  link_to "+", new_blog_blog_post_path(current_user.blogs.first, BlogPost.new), class:"new-button" %>
  </div>
  <div class="blog-category-banner">
    <h1>User Blog Posts</h1>
  </div>
  <form class="blog-form">
    <div class="blog-nav">
      <div class="category-search">
        <input class="search-field" name="query" type="search" placeholder="..." autocomplete="off" aria-label="Search" value="<%= params[:query] %> ">
        <%# <div class="search-field">
          ...
        </div> %>
        <button class="search-button" type="submit">
          Search
        </button>
      </div>
      <div class="filter-button" data-action="click->blogFilter#show">
        Filter
      </div>
    </div>
    <div class="outer-filter-box" data-blogFilter-target="filter">
      <% category_images = ["https://images.pexels.com/photos/1509534/pexels-photo-1509534.jpeg?auto=compress&cs=tinysrgb&w=800",
        "https://images.pexels.com/photos/1172253/pexels-photo-1172253.jpeg?auto=compress&cs=tinysrgb&w=600",
        "https://images.pexels.com/photos/132477/pexels-photo-132477.jpeg?auto=compress&cs=tinysrgb&w=600",
        "https://images.pexels.com/photos/60504/security-protection-anti-virus-software-60504.jpeg?auto=compress&cs=tinysrgb&w=600",
        "https://images.pexels.com/photos/943096/pexels-photo-943096.jpeg?auto=compress&cs=tinysrgb&w=600",
        "https://images.pexels.com/photos/4164418/pexels-photo-4164418.jpeg?auto=compress&cs=tinysrgb&w=600",
        "https://images.pexels.com/photos/1181712/pexels-photo-1181712.jpeg?auto=compress&cs=tinysrgb&w=600",
        "https://images.pexels.com/photos/3184465/pexels-photo-3184465.jpeg?auto=compress&cs=tinysrgb&w=600",
        "https://images.pexels.com/photos/1779487/pexels-photo-1779487.jpeg?auto=compress&cs=tinysrgb&w=600",
        "https://images.pexels.com/photos/574069/pexels-photo-574069.jpeg?auto=compress&cs=tinysrgb&w=600",
        "https://images.pexels.com/photos/1029757/pexels-photo-1029757.jpeg?auto=compress&cs=tinysrgb&w=600",
        "https://images.pexels.com/photos/5952651/pexels-photo-5952651.jpeg?auto=compress&cs=tinysrgb&w=600"] %>
      <div class="category-filter">
        <% @categories.each_with_index do |category, index| %>
          <% image = category_images[index] %>
          <%= render "blogs/category_card", category: category, image: image, index: index %>
        <% end %>
      </div>
    </div>
  </form>
  <%# Blog category cards with iteration %>
  <div class="blog-category-list">
    <% @blog_posts.each do |post| %>
      <%= link_to blog_blog_post_path(post.blog, post) do %>
        <% if  post.image.attached? %>
          <div class="blog-category-card">
            <div class="article-img">
              <%= cl_image_tag post.image.key, class:"art-img" %>
            </div>
            <div class="post-info">
              <h2><%=  post.title %></h2>
              <h4>by <%= post.blog.user.nickname %> - <%= post.created_at.strftime(" %B %e, %Y") %></h4>
            </div>
          </div>
        <% else %>
          <div class="blog-category-card">
            <div class="article-img">
              <%= image_tag "logo_placeholder.png", class:"art-img"%>
            </div>
            <div class="post-info">
              <h2><%=  post.title %></h2>
              <h4>by <%= post.blog.user.nickname %> - <%= post.created_at.strftime(" %B %e, %Y") %></h4>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
