<div class="outer-frame">
  <div>
    <%=  link_to "+", new_blog_path, class:"new-button" %>
  </div>
  <div class="blog-category-banner">
    <h1>User Blogs</h1>
  </div>
  <%# Blog category cards with iteration %>
  <div class="blog-category-list">
    <% @blogs.each do |blog| %>
      <%= link_to blog_blog_posts_path(blog) do %>
        <% if  blog.image.attached? %>
          <div class="blog-category-card" style="background-image: url(<%= cl_image_path blog.image.key %>)">
            <h2><%=  blog.title %></h2>
            <h4><%= blog.blog_posts.count %> Posts - # authors</h4>
          </div>
        <% else %>
          <div class="blog-category-card">
            <h2><%=  blog.title %></h2>
            <h4><%= blog.blog_posts.count %> Posts - # authors</h4>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
