<div class="comment border-bottom mb-3">
  <div class="comment-header d-flex flex-row">
    <% profile = comment.user.profile %>
    <% if profile.avatar.attached? %>
      <%= cl_image_tag profile.avatar.key, class: "comment-avatar" %>
    <% else %>
      <img src="https://via.placeholder.com/150" class="comment-avatar" alt="Profile picture">
    <% end %>
    <div class="header-info">
      <%=  link_to comment.user.nickname, profile_path(comment.user) %>
      <p> <%=  comment.created_at.strftime("%m-%e-%y %H:%M") %> </p>
    </div>
  </div>
  <p> <%=  comment.content %> </p>
  <div data-controller="reply">

    <a href="#" data-reply-target="link" data-action="click->reply#show" class="btn reply-button">Reply</a>

    <div class="comment-form d-none" data-reply-target="form">
      <% blog =  comment.blog_post.blog %>
      <% blog_post = comment.blog_post %>
      <%=  simple_form_for [blog, blog_post, Comment.new] do |f| %>
        <%= f.input :content, label: false, placeholder: "Your comments", class:"form-control" %>
        <%= f.input :parent_id, as: :hidden, input_html: { value: comment.id } %>
        <%= f.button :submit, "Submit", class:"btn btn-dark"%>
      <% end %>
    </div>
  </div>
  <div class="sub-comment">
    <% comment.comments.each do |sub_comment| %>
      <%= render partial: "comments/comment", locals: { comment: sub_comment } %>
    <% end %>
  </div>
</div>
