<div class="container">
  <h1> <%=  @blog.title %> </h1>
  <%=  link_to "Back", blogs_path, class: "btn btn-primary" %>
  <%=  link_to "Edit", edit_blog_path(@blog), class: "btn btn-danger" %>
  <%= link_to "New Post", new_blog_blog_post_path(@blog), class: "btn btn-primary" %>
  <% @blog_posts.each do |blog_post| %>
    <%=  render "blog_post", blog_post: blog_post %>
  <% end %>
 

</div>
