
<div class="blog-post-buttons">
  <%=  link_to blogs_path, class: "btn button-back" do %>
      <i class="fa-solid fa-chevron-left"></i>
  <% end %>
  <div class="blog-meta"><%= @blog_post.created_at.strftime(" %B %e, %Y") %></div>
  <div class="blog-meta"><%= @blog.user.nickname %></div>
  <%=  link_to profile_path(@blog.user), class: "btn button-edit" do %>
      <i class="fa-solid fa-user"></i>
  <% end %>
  <%=  link_to edit_blog_blog_post_path(@blog, @blog_post), class: "btn button-edit" do %>
      <i class="fa-solid fa-pencil"></i>
  <% end %>
</div>

<div class="outer-frame-post">
  <div class="blog-post-title">
    <%=  @blog_post.title %>
  </div>
  <div class="blog-post-image">
    <%= cl_image_tag @blog_post.image.key if @blog_post.image.attached? %>
  </div>

  <div class="blog-post-content-container">
    <div class="blog-post-content">
      <%=  @blog_post.content.html_safe %>
    </div>
  </div>

  <div class="votes-container">
    <div class="your-vote">
      <%# if user not voted yet %>
      <% if @blog_post.votes.where(user: current_user).size == 0 %>
        <%=  button_to blog_blog_post_votes_path(@blog, @blog_post, value: 1), method: :post, class: "like1-show" do %>
          <i class="fa-solid fa-thumbs-up"></i>
        <% end %>
        <%=  button_to blog_blog_post_votes_path(@blog, @blog_post, value: -1), method: :post, class: "dislike1-show" do %>
          <i class="fa-solid fa-thumbs-down"></i>
        <% end %>
      <% else %>
        <%# user can update vote with method patch %>
        <%=  button_to blog_blog_post_vote_path(@blog, @blog_post, @blog_post.votes.where(user: current_user).first, value: 1), method: :patch, class: "like" do %>

          <div class="total-likes-show">
            <i class="fa-solid fa-thumbs-up like2-show"></i>
            <div class="like2-text"> <%=  @blog_post.votes.where(value: 1).size %> </div>
          </div>
        <% end %>
        <%=  button_to blog_blog_post_vote_path(@blog, @blog_post, @blog_post.votes.where(user: current_user).first, value: -1), method: :patch, class: "dislike" do %>
          <div class="total-dislikes-show">
            <i class="fa-solid fa-thumbs-down dislike2-show"></i>
            <div class="dislike2-text"> <%=  @blog_post.votes.where(value: -1).size %> </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="comment-wrapper-js d-flex flex-column" data-controller="comments">
  <div class="container comment-link mb-3">
    <a href="#" data-comments-target="link" data-action="click->comments#show" class="m-3 comment-button"> Show Comments </a>
  </div>
  <div class="container border comment-wrapper d-none" data-controller="insert-in-list" data-comments-target="comm">
    <p class="border-bottom">Comments </p>
    <div class="comment-list" data-insert-in-list-target="items">
      <% @blog_post.comments.where(parent_id: nil).each do |comment| %>
        <%= render "comments/comment", comment: comment %>
      <% end %>
    </div>
    <%= render "comments/form", blog: @blog, blog_post: @blog_post, comment: Comment.new %>
  </div>
