
<div class="outer-frame-post">
  <div class="blog-post-banner">
    <h1> <%=  @blog_post.title %> </h1>
    <%= cl_image_tag @blog_post.image.key, heigth: 300, width: 300 if @blog_post.image.attached? %>
    <p> <%=  @blog_post.content %> </p>
  </div>
  <%=  link_to "Back", blog_blog_posts_path(@blog), class: "btn btn-primary" %>
  <%=  link_to "Edit", edit_blog_blog_post_path(@blog, @blog_post), class: "btn btn-danger" %>
</div>
<div class="container border mb-3">
  <p> Votes total: <%=  @blog_post.votes.size %></p>
  <p> Likes: <%=  @blog_post.votes.where(value: 1).size %></p>
  <p> Dislikes: <%=  @blog_post.votes.where(value: -1).size %></p>
  <p> User vote: <%=  @blog_post.votes.where(user: current_user).first.value if @blog_post.votes.where(user: current_user).size > 0 %></p>
  <div class="d-flex flex-row" id="likes">
    <% if @blog_post.votes.where(user: current_user).size == 0 %>
      <%=  button_to blog_blog_post_votes_path(@blog, @blog_post, value: 1), method: :post, class: "like" do %>
        <i class="fa-solid fa-heart"></i>
      <% end %>
      <%=  button_to blog_blog_post_votes_path(@blog, @blog_post, value: -1), method: :post, class: "dislike" do %>
        <i class="fa-solid fa-heart-crack"></i>
      <% end %>
    <% else %>
      <%# user can update vote  with merthod patch %>
      <%=  button_to blog_blog_post_vote_path(@blog, @blog_post, @blog_post.votes.where(user: current_user).first, value: 1), method: :patch, class: "like" do %>
        <i class="fa-solid fa-heart"></i>
      <% end %>
      <%=  button_to blog_blog_post_vote_path(@blog, @blog_post, @blog_post.votes.where(user: current_user).first, value: -1), method: :patch, class: "dislike" do %>
        <i class="fa-solid fa-heart-crack"></i>
      <% end %>
    <% end %>
  </div>
</div>



<div class="container border comment-wrapper">
  <p class="border-bottom">Comments: </p>
  <% @blog_post.comments.each do |comment| %>
    <%= render "comments/comment", comment: comment %>
  <% end %>
  <%= render "comments/form", blog: @blog, blog_post: @blog_post, comment: Comment.new %>
</div>
