<div class="search-filters-container col-4">
  <div>
    <p class="filter-header">Filter</p>
    <% if @query %>
        <p>You searched for <strong><%= @query %></strong>. We found <%= @jobs.count %> jobs matching your search.</p>
    <% else %>
        <p>Search <strong><%= @jobs.count %></strong> job postings.</p>
    <% end %>
    </div>
    <div class="search-form>
      <form class="input-group rounded">
        <input class="form-control rounded input-field-search" name="query" type="search" placeholder="Company, skill ..." autocomplete="off" aria-label="Search" value="<%= params[:query] %> ">
        <button class="input-group-text border-0 search-button" type="submit">Search</button>
      </form>
    </div>
    <% Tag.all.each do |tag|%>
    <div class="form-check tags">
      <input class="form-check-input tag-button" type="radio" name="exampleRadios" id= "<%= tag.name %>" value="option1" checked>
      <label class="form-check-label" for="<%= tag.name %>" style="<%= 'background-color: #7E73FF; color: white;' if params[:tag_id].to_i == tag.id %>">
          <%= link_to tag.name, jobs_path(tag_id: tag.id) %>
      </label>
    </div>
    <% end %>
  </div>
</div> 
