<div class="job-card-index" id="<%= dom_id job %>">
  <div class="job-card-image-and-contents">
    <%  if job.image.attached? %>
      <%= cl_image_tag job.image.key, class: "job-card-logo-index" %>
    <% else %>
      <img class="job-card-logo-index" alt="logo" src="/assets/logo_placeholder-c7c60a6d1a473197b91b4be9dc89f71b2fcc132219fd83708de2fcc91fe40cb6.png">
    <% end %>
    <div class="index-card-contents">
      <p class="job-card-index-heading"><%= job.title %></p>
      <p class="job-card-index-content"><%= job.summary %></p>
      <p class="job-card-index-location"><i class="fa-solid fa-location-dot"> </i><%= job.location %></p>
    </div>
  </div>
  <div class="card-buttons ">
    <%= link_to "View Job", job_path(job), class: "btn btn-light job-card-index-more-info" if policy(Job).show? %>
    <%# Logic for buttons %>
    <%# job_response = current_user.job_responses.where(job: job).first %>
    <% if current_user.job_responses.where(job: job).empty? %>
      <% if current_user.jobs.where(id: job.id).empty? %>
        <%# Apply button %>
      <%= link_to "Apply", job_path(job), class: "btn btn-light job-card-index-apply" if policy(Job).show?  %>
      <% else %>
        <%# Your ad badge %>
        <span class="badge text-bg-warning m-1">Your ad</span>
      <% end %>
    <% end %>
    <%# Logic for badges for applicant%>
    <% job_response = current_user.job_responses.where(job: job).first %>
    <% if job_response.nil? == false %>
      <% if job_response.status == "accepted" %>
        <span class="badge text bg-success m-1">Accepted</span>
      <% elsif job_response.status == "declined" %>
        <span class="badge text bg-danger m-1">Declined</span>
      <% else %>
        <span class="badge text bg-warning m-1">Pending</span>
      <% end %>
    <% end %>
  </div>
</div>
