<div class="job-card" id="<%= dom_id job %>">
  <div class="card-contents">
    <p class="job-card-heading"><%= job.title %></p>
    <p class="job-card-content"><%= job.content %></p>
    <p class="job-card-location"><i class="fa-solid fa-location-dot"> </i><%= job.location %></p>
  </div>
  <div class="card-buttons">
    <p class="job-card-more-info row"><%= link_to "View Job", job_path(job) if policy(Job).show?  %></p>
    <p class="job-card-apply row"><%= link_to "Apply", job_path(job) if policy(Job).show?  %></p>
  </div>
</div>
