<div class="container">
  <div class="d-flex justify-content-between">
    <div class="home-bar-item">
      <form class="input-group rounded">
        <input class="form-control rounded" name="query" type="search" placeholder="Search" autocomplete="off" aria-label="Search" value="<%= params[:query] %> ">
        <button class="input-group-text border-0" type="submit">Search</button>
      </form>
    </div>
    <div class="home-bar">
      <div class="home-bar-item"><button type="button" class="input-group-text border-0"><i class="fa-solid fa-plus"></i><%= link_to "Post a job", new_job_path if policy(Job).new? %></button></div>
    </div>
  </div>


  <div class="job-listings-container">
    <div class="display-flex align-center new-opportunities-container justify-space-between margin-b-24">
      <div>
        <div class="new-opportunities-heading">New job opportunities</div>
      </div>
      <% if @query %>
          <p>You searched for <strong><%= @query %></strong>. We found <%= @jobs.count %> jobs matching your search on our website.</p>
      <% else %>
          <p>Find your new job among our <strong><%= @jobs.count %></strong> job postings.</p>
      <% end %>
    </div> <%#class="display-flex align-center new-opportunities-container justify-space-between margin-b-24" %>
      <div class="row">
        <% @jobs.each do |job| %>
        <%= render job%>
          <% end %>

      </div> <%#class="row" %>
  </div> <%#class="job-listings-container" %>
  <div class="search-filters-container">
    <% @jobs.each do |job|%>
      <%= render "filter", filter: job.location%>
    <%end%>
  </div> <%#class="search-filters-container"%>
</div> <%# container %>
