
<div class="job-container">
      <%=image_tag 'https://static.wixstatic.com/media/b650ce_4b783c50755742a786f38e91b5028a41~mv2_d_7929_2408_s_4_2.png/v1/fill/w_980,h_298,al_c,usm_0.66_1.00_0.01/b650ce_4b783c50755742a786f38e91b5028a41~mv2_d_7929_2408_s_4_2.png', class:"job-banner" %>


  <div class="job-posting">

      <img src="https://miro.medium.com/max/640/1*0Rjja_-J-ci27SgPLJ7niQ.webp" class="job-logo">
    <div type="button" class="apply-button"><%= link_to "Apply", jobs_path %></div>

      <div class="job-posting-info">
        <div class="job-key-points">
          <h5>Total Compensation</h5>
            <p>1,000 euros</p>
          <h5>Languages</h5>
            <p>English</p>
          <h5>Location</h5>
            <p>NYC</p>
          <h5>Start-Date</h5>
            <p>05/01/2023</p>
        </div>


        <div class="job-details">
          <div class="job-summary">
            <h5>Summary</h5>
            <p>Under the guidance of the Director of University Web Services, the Web Developer is responsible for web programming to create pages, layouts, and templates for web content providers and editors of the university's internet websites, both inside and outside of the CMS.
            </p>
          </div>

          <div class="job-description">
            <h2><%= @job.title %></h2>
            <p><%= @job.content %></p>
            <p><%= @job.location %></p>
          </div>
        </div>
      </div>

  </div>



  <% if policy(@job).edit? %>
    <%= link_to "Edit this job", edit_job_path(@job) %>
  <% end %>
  <!-- [...] -->
  <%= button_to "Destroy this job", @job, method: :delete if policy(@job).destroy? %>

</div>


<h2><%= @job.title %></h2>
<p><%= @job.content %></p>
<p><%= @job.location %></p>

<% if policy(@job).edit? %>
  <%= link_to "Edit this job", edit_job_path(@job) %> |
<% end %>
<!-- [...] -->
<%= button_to "Destroy this job", @job, method: :delete if policy(@job).destroy? %>


