<div class="job-posting" data-controller="edit-job-posting">
<%# row is divided in 2 parts: side and main %>

          <%# SIDE SECTION - AVATAR AND KEY POINTS %>
  <div class="side">
    <%  if @job.image.attached? %>
      <%= cl_image_tag @job.image.key, class: "job-logo" %>
    <% else %>
      <img class="job-logo" alt="logo" src="/assets/logo_placeholder-c7c60a6d1a473197b91b4be9dc89f71b2fcc132219fd83708de2fcc91fe40cb6.png">
    <% end %>
    <div class="job-key-points">
      <h5>Annual Salary</h5>
        <%= render "job_salary", job: @job %>
      <h5>Languages</h5>
        <p class="language">English</p>
      <h5>Location</h5>
        <%= render "job_location", job: @job %>
    </div>
  </div>

  <div class="main" data-controller="favorite">

    <div><%= link_to "Apply", new_job_job_response_path(@job), class: "btn btn-light job-card-apply" if policy(Job).show?%>
    </div>
    <div class="delete-button">  <%= button_to "Delete", @job, method: :destroy %>
    </div>
    <div class="bookmark-button">
      <%= link_to toggle_favorite_job_path(@job), data: { "turbo-method": :post }  do %>
        <i data-favorite-target="bookmark" data-action="click->favorite#toggleFavorite" class="fa-solid fa-heart <%='red' if current_user.favorited?(@job) %>"></i>
      <% end %>

    </div>
          <%# MAIN SECTION - JOB SUMMARY AND DESCRIPTION %>
          <div class="job-details"  >
            <%= render "job_summary", job: @job %>

            <div class="job-description">

              <%= render "job_title", job: @job %>
              <%= render "job_content", job: @job %>

              <div class="job-show-contacts">
              <h6> Recruiter:

              </h6>
              <p>
                <%=  link_to @job.user.profile.name, profile_path(@job.user)%><%= link_to profile_path(@job.user) do %>
                <i class="fa-solid fa-eye">&nbsp;</i>
                <% end %>
              </p>
            </div>
            </div>


          </div>
        </div>

    </div>



  <!-- [...] -->


</div>
