
<div class="job-posting" data-controller="edit-job-posting" data-edit-job-posting-target="descriptionbox">
<%# row is divided in 2 parts: side and main %>

  <div class="side">
    <%# <img src="https://miro.medium.com/max/640/1*0Rjja_-J-ci27SgPLJ7niQ.webp" class="job-logo"> %>
    <%  if @job.image.attached? %>
      <%= cl_image_tag @job.image.key, class: "job-logo" %>
    <% else %>
      <img class="job-logo" alt="logo" src="/assets/logo_placeholder-c7c60a6d1a473197b91b4be9dc89f71b2fcc132219fd83708de2fcc91fe40cb6.png">
    <% end %>
    <div class="job-key-points">
      <h5>Annual Salary</h5>
        <p><%= @job.salary %> €</p>
      <h5>Languages</h5>
        <p>English</p>
      <h5>Location</h5>
      <p class="job-card-index-location"><i class="fa-solid fa-location-dot"> </i><%= @job.location %></p>
    </div>
  </div>

  <div class="main">

    <div type="button" class="apply-button"><%= link_to "Apply", new_job_job_response_path(@job) %>
    </div>

          <div class="job-details">
            <div class="job-summary">
              <h5>Summary</h5>
              <p><%= @job.summary %></p>
            </div>

            <div class="job-description" data-edit-job-posting-target="description">


              <h2><%= @job.title %></h2>
              <p><%= @job.content %></p>
            </div>
          </div>
        </div>

    </div>



  <!-- [...] -->
  <%= button_to "Delete", @job, method: :delete if policy(@job).destroy? %>

</div>
