<div id="message-<%= message.id %>" class="full-message<%='-user' if message.user == current_user %>">
  <small>
    <strong><%= link_to "#{message.user.nickname}", profile_path(message.user) %></strong>

    <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
  </small>
  <div class="message-sent<%='-user' if message.user == current_user %>">
    <p><%= message.content %></p>
  </div>

  <%# if message.user == current_user %>
    <%#= button_to "Delete", private_chatroom_private_message_path(message.private_chatroom, message), method: :delete, class: "btn btn-outline-dark btn-sm", style: "--bs-btn-padding-y: .1rem; --bs-btn-padding-x: .2rem; --bs-btn-font-size: .75rem;" %>
  <%# end %>
  <%= button_to private_chatroom_private_message_path(message.private_chatroom, message), method: :delete do %>
    <i class="fa-regular fa-circle-xmark"></i>
  <% end %>
</div>
