<div id="message-<%= message.id %>" class="full-message<%='-user' if message.user == current_user %>">
  <small>
    <strong><%= link_to "#{message.user.nickname}", profile_path(message.user) %></strong>

    <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
  </small>
  <div class="message-sent<%='-user' if message.user == current_user %>">
    <p><%= message.content %></p>
  </div>
</div>
