<%# bootsrap tabs  %>
<div class="d-flex align-items-start" id="dashboard">
  <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true"><i class="fa-solid fa-house"></i></button>
    <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false"><i class="fa-regular fa-user"></i></button>
    <button class="nav-link" id="v-pills-requests-tab" data-bs-toggle="pill" data-bs-target="#v-pills-requests" type="button" role="tab" aria-controls="v-pills-requests" aria-selected="false"><i class="fa-solid fa-briefcase"></i></button>
    <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false"><i class="fa-solid fa-inbox"></i></button>
  </div>
  <div class="tab-content" id="v-pills-tabContent">
    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab" tabindex="0">
      <h1>Hello</h1>
      <p> <%= @user.profile.first_name %> ! </p>
    </div>
    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab" tabindex="0">
      <%= render "/profiles/profile", profile: @user.profile %>
    </div>
    <%# JOB RESPONSE %>
    <div class="tab-pane fade" id="v-pills-requests" role="tabpanel" aria-labelledby="v-pills-requests-tab" tabindex="0">
      <h3> My requests </h3>
      <% @user.job_responses.each do |job_response| %>
        <%= render "jobs/job", job: job_response.job %>
      <% end %>
    </div>
    <%# CHATS TAB with nested TABS %>
    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab" tabindex="0">
      <%# <h3> My messages </h3> %>
      <%# NEW TABS COMPONENT %>
      <div class="d-flex align-items-start">
        <%# chat names %>
        <div class="nav flex-column nav-pills me-3" id="v-pills-tab-chat" role="tablist" aria-orientation="vertical">
          <% if @user.private_chatrooms.first.user_sender_id == @user.id %>
              <% friend = User.find(@user.private_chatrooms.first.user_reciever_id) %>
          <% else %>
              <% friend = User.find(@user.private_chatrooms.first.user_sender_id) %>
          <% end %>
          <button class="nav-link active" id="v-pills-first-tab" data-bs-toggle="pill" data-bs-target="#v-pills-first" type="button" role="tab" aria-controls="v-pills-first" aria-selected="true"><%= friend.nickname %></button>
          <% @user.private_chatrooms[1..].each do |chatroom| %>
            <% if chatroom.user_sender_id == @user.id %>
              <% friend = User.find(chatroom.user_reciever_id) %>
            <% else %>
              <% friend = User.find(chatroom.user_sender_id) %>
            <% end %>
            <button class="nav-link" id="v-pills-<%=friend.nickname%>-tab" data-bs-toggle="pill" data-bs-target="#v-pills-<%=friend.nickname%>" type="button" role="tab" aria-controls="v-pills-<%=friend.nickname%>" aria-selected="false"><%= friend.nickname %></button>
          <% end %>
        </div>
        <%# chats content %>
        <div class="tab-content" id="v-pills-tabContent">
          <% if @user.private_chatrooms.first.user_sender_id == @user.id %>
              <% friend = User.find(@user.private_chatrooms.first.user_reciever_id) %>
          <% else %>
              <% friend = User.find(@user.private_chatrooms.first.user_sender_id) %>
          <% end %>
          <div class="tab-pane fade show active" id="v-pills-first" role="tabpanel" aria-labelledby="v-pills-first-tab" tabindex="0">
            <%= render "private_chatrooms/private_chatroom", private_chatroom: @user.private_chatrooms.first,  private_message: PrivateMessage.new %>
          </div>
          <% @user.private_chatrooms[1..].each do |chatroom| %>
            <% if chatroom.user_sender_id == @user.id %>
              <% friend = User.find(chatroom.user_reciever_id) %>
            <% else %>
              <% friend = User.find(chatroom.user_sender_id) %>
            <% end %>
            <div class="tab-pane fade" id="v-pills-<%=friend.nickname%>" role="tabpanel" aria-labelledby="v-pills-<%=friend.nickname%>-tab" tabindex="0">
              <%= render "private_chatrooms/private_chatroom", private_chatroom: chatroom,  private_message: PrivateMessage.new %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
