<%# DASHBOARD %>
<div class="d-flex align-items-start" id="dashboard" data-controller="new-message">
  <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <button class="nav-link <%= params[:tab].nil? ? 'active' : nil %>" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="<%= params[:tab] == 'messages' ? 'true' : 'false' %>"><i class="fa-solid fa-house"></i></button>
    <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false"><i class="fa-regular fa-user"></i></button>
    <button class="nav-link <%= params[:tab] == 'responses' ? 'active' : nil %>" id="v-pills-requests-tab" data-bs-toggle="pill" data-bs-target="#v-pills-requests" type="button" role="tab" aria-controls="v-pills-requests" aria-selected="<%= params[:tab] == 'responses' ? 'true' : 'false' %>"><i class="fa-solid fa-briefcase"></i></button>
    <button class="nav-link <%= params[:tab] == 'favorites' ? 'active' : nil %>" id="v-pills-favorites-tab" data-bs-toggle="pill" data-bs-target="#v-pills-favorites" type="button" role="tab" aria-controls="v-pills-favorites" aria-selected="<%= params[:tab] == 'favorites' ? 'true' : 'false' %>"><i class="fa-solid fa-heart"></i></button>
    <button class="nav-link <%= current_user.company ? nil : 'd-none'%>" id="v-pills-response-tab" data-bs-toggle="pill" data-bs-target="#v-pills-response" type="button" role="tab" aria-controls="v-pills-response" aria-selected="false"><i class="fa-solid fa-inbox"></i></button>
    <button class="nav-link <%= params[:tab] == 'messages' ? 'active' : nil %> position-relative" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="<%= params[:tab] == 'messages' ? 'true' : 'false' %>">
      <i class="fa-regular fa-message"></i>
      <% new_messages =  current_user.new_messages.nil? ? 0 : current_user.new_messages.count  %>
      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger <%= new_messages > 0 ? nil: 'd-none'%>" data-new-message-target="container" >
        <span data-new-message-target="badge" ><%= new_messages %></span>
        <span class="visually-hidden">unread messages</span>
      </span>
    </button>
  </div>
  <div class="tab-content" id="v-pills-tabContent">
    <div class="tab-pane fade <%= params[:tab].nil? ? 'show active' : nil %>" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab" tabindex="0">
      <h1>Hello</h1>
      <h3> Welcome to your dashboard <%= @user.profile.first_name %> ! </h3>
      <p> Here are some tips for junior developers: </p>
      <div class="tip">
        <p>1. Learn the basics of software development, such as algorithms, data structures, and design patterns, before diving into a specific programming language or framework.</p>
      </div>
      <div class="tip">
        <p>2. Practice writing code on a regular basis, whether by working on personal projects or contributing to open source projects. This will help you improve your skills and gain experience.</p>
      </div>
      <div class="tip">
        <p>3. Collaborate with other developers, whether through online communities or in-person meetups. This will help you learn from others and get feedback on your work.</p>
      </div>
      <div class="tip">
        <p>4. Stay up to date with the latest developments in the tech industry. This can help you understand the direction the industry is heading and identify opportunities for growth.</p>
      </div>
      <div class="tip">
        <p>5. Don't be afraid to ask questions. There's no such thing as a stupid question, and asking for help or clarification can save you a lot of time and frustration in the long run.</p>
      </div>

    </div>
    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab" tabindex="0">
      <%= render "/profiles/profile", profile: @user.profile %>
    </div>
    <%# JOB RESPONSE %>
    <div class="tab-pane fade <%= params[:tab] == 'responses' ? 'show active' : nil %>" id="v-pills-requests" role="tabpanel" aria-labelledby="v-pills-requests-tab" tabindex="0">
      <h3> My Requests </h3>
      <% @user.job_responses.each do |job_response| %>
        <%= render "jobs/job", job: job_response.job, job_response: job_response %>
      <% end %>
    </div>
    <div class="tab-pane fade" id="v-pills-response" role="tabpanel" aria-labelledby="v-pills-response-tab" tabindex="0">
      <h3> My job vacancy income </h3>
      <% @user.jobs.each do |job| %>
        <%= render  "jobs/job", job: job %>
        <% job.job_responses.each do |job_response| %>
          <%= render "job_responses/job_response", job_response: job_response %>
        <% end %>
      <% end %>
    </div>
        <%# JOB FAVORITES%>
    <div class="tab-pane fade <%= params[:tab] == 'favorites' ? 'show active' : nil %>" id="v-pills-favorites" role="tabpanel" aria-labelledby="v-pills-favorites-tab" tabindex="0">
      <h3> My Favorite Jobs </h3>
      <% @user.all_favorited.each do |job| %>
        <%= render "jobs/job", job: job %>
      <% end %>
    </div>

    <%# CHATS TAB with nested TABS %>
    <div class="tab-pane fade <%= params[:tab] == 'messages' ? 'show active' : nil %>" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab" tabindex="0">
      <%# <h3> My messages </h3> %>
      <%# NEW TABS COMPONENT %>
      <div class="chat-container">
        <div class="d-flex align-items-start" style="width: 100%">
          <%# chat names %>
          <div class="nav flex-column nav-pills" id="v-pills-tab-chat" role="tablist" aria-orientation="vertical">
            <div class="chat-sidebar">
              <h3>Online users</h3>
              <ul>
                <% if @user.private_chatrooms.empty? %>
                  <button class="nav-link active" id="pills-first-tab" data-bs-toggle="pill" data-bs-target="#pills-first" type="button" role="tab" aria-controls="pills-first" aria-selected="true"><h3> No chats yet </h3></button>
                <% else %>
                  <% @user.private_chatrooms.each do |chatroom| %>
                    <% if chatroom.user_sender_id == @user.id %>
                      <% friend = User.find(chatroom.user_reciever_id) %>
                    <% else %>
                      <% friend = User.find(chatroom.user_sender_id) %>
                    <% end %>
                    <%# USERS LIST %>
                    <li>
                      <button class="nav-link d-flex flex-row align-items-center <%= friend.id == params[:id].to_i ? 'active' : nil %>" data-controller="read-message" data-read-message-target="name" data-read-message-id-value="<%=friend.id%>" data-read-message-private-chatroom-id-value="<%=chatroom.id%>" data-action="read-message#readMessage" id="v-pills-<%=friend.id%>-tab" data-bs-toggle="pill" data-bs-target="#v-pills-<%=friend.id%>" type="button" role="tab" aria-controls="v-pills-<%=friend.id%>" aria-selected="<%= friend.id == params[:id] ? 'true' : 'false' %>">
                        <% if friend.profile.avatar.attached? %>
                          <div class="avatar-message flex-shrink-0"  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path friend.profile.avatar.key %>'"></div>
                        <% end %>
                        <div>
                          <%= friend.nickname %>
                        </div>
                      </button>
                    </li>
                  <% end %>
                <% end %>
              </ul>
            </div>
          </div>

          <%# chats content %>
          <div class="tab-content" id="v-pills-tabContent-chat">
            <% if @user.private_chatrooms.empty? %>
              <div class="tab-pane fade show active" id="v-pills-first" role="tabpanel" aria-labelledby="v-pills-first-tab" tabindex="0">
                <h3> No chats yet </h3>
              </div>
            <% else %>
              <% @user.private_chatrooms.each do |chatroom| %>
                <% if chatroom.user_sender_id == @user.id %>
                  <% friend = User.find(chatroom.user_reciever_id) %>
                <% else %>
                  <% friend = User.find(chatroom.user_sender_id) %>
                <% end %>
                <div class="tab-pane fade chat-window <%= params[:id].to_i == friend.id ? 'show active' : nil %>" id="v-pills-<%=friend.id%>" role="tabpanel" aria-labelledby="v-pills-<%=friend.id%>-tab" tabindex="0" style="height: 100%">
                  <%= render "private_chatrooms/private_chatroom", private_chatroom: chatroom,  private_message: PrivateMessage.new %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
