<div class="content">
  <%# Banner with video %>
  <div class="video-back">
    <%= video_tag "people.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "home_video" %>
    <div class="brand-action">
      <%# <h1>JuniorHub</h1> %>
      <h1>Accelerate the start of your career in tech</h1>
      <button>
        <% if user_signed_in? %>
          <%= link_to "Find the perfect job", jobs_path, class: "button-text" %>
        <% else %>
          <%= link_to "Find the perfect job", new_user_session_path, class: "button-text" %>
        <% end %>
      </button>
    </div>
  </div>
  <%# Carousel %>
  <div class="carousel-box">
    <h3>Top 3 latest Jobs</h3>
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%# Job card start %>
        <div class="job-cardA">
          <div class="job-card-text">
            <div class="company_details">
              <% if Job.all.last.image.attached? %>
                <%= cl_image_tag Job.all.last.image.key, class: "logo" %>
              <% else %>
                <%= image_tag "logo_placeholder.png", class:"logo", alt:"logo" %>
              <% end %>
              <%# <%= image_tag "logo_placeholder.png", class:"logo", alt:"logo" %>
              <h6><%= Job.all[-1].company_name %></h6>
            </div>
            <div>
              <h4><%= Job.all.last.title %></h4>
            </div>
            <div>
              <h5>Location: <%= Job.all.last.location %></h5>
            </div>
            <div>
              <h5>Start Date: <%= Job.all.last.created_at.strftime(" %B %e %Y") %></h5>
            </div>
          </div>
        </div>
        <%# Job card end %>
      </div>
      <div class="carousel-item">
        <%# Job card start %>
        <div class="job-cardB">
          <div class="job-card-text">
            <div class="company_details">
              <% if Job.all[-2].image.attached? %>
                <%= cl_image_tag Job.all[-2].image.key, class: "logo" %>
              <% else %>
                <%= image_tag "logo_placeholder.png", class:"logo", alt:"logo" %>
              <% end %>
              <%# <%= image_tag "logo_placeholder.png", class:"logo", alt:"logo" %>
              <h6><%= Job.all[-2].company_name %></h6>
            </div>
            <div>
              <h4><%= Job.all[-2].title %></h4>
            </div>
            <div>
              <h5>Location: <%= Job.all[-2].location %></h5>
            </div>
            <div>
              <h5>Start Date: <%= Job.all[-2].created_at.strftime(" %B %e, %Y") %></h5>
            </div>
          </div>
        </div>
        <%# Job card end %>
      </div>
      <div class="carousel-item">
        <%# Job card start %>
        <div class="job-cardC">
          <div class="job-card-text">
            <div class="company_details">
              <% if Job.all[-3].image.attached? %>
                <%= cl_image_tag Job.all[-3].image.key, class: "logo" %>
              <% else %>
                <%= image_tag "logo_placeholder.png", class:"logo", alt:"logo" %>
              <% end %>
              <h6><%= Job.all[-3].company_name %></h6>
            </div>
            <div>
              <h4><%= Job.all[-3].title %></h4>
            </div>
            <div>
              <h5>Location: <%= Job.all[-3].location %></h5>
            </div>
            <div>
              <h5>Start Date: <%= Job.all[-3].created_at.strftime(" %B %e, %Y") %></h5>
            </div>
          </div>
        </div>
        <%# Job card end %>
      </div>
    </div>
    <button id="prev" class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button id="next" class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  </div>
  <%# Explaination cards %>
  <div class="get-started">
    <h3>How it works</h3>
    <div class="explain-text">
      JuniorHub is the best one-stop destination for junior developers to find their first role in the tech industry and  advance their carreer.
      We offer a convenient way to look and apply for jobs specifically for junior developers. Besides this we provide a platform for junior developers to connect and learn from each others experience.
    </div>
    <div class="flex-box">
      <div class="cardA">
        <button>
          <% if user_signed_in? %>
            <%= link_to "Find the perfect job", jobs_path, class: "button-text" %>
          <% else %>
            <%= link_to "Find the perfect job", new_user_session_path, class: "button-text" %>
          <% end %>
        </button>
      </div>
      <div class="cardB">
          <button>
            <% if user_signed_in? %>
              <%= link_to "Make a new job post", jobs_path, class: "button-text" %>
            <% else %>
              <%= link_to "Make a new job post", new_user_session_path, class: "button-text" %>
            <% end %>
          </button>
      </div>
    </div>
  </div>
  <%# Testamonial section %>
  <div class="testamonial">
    <div class="testamonial-box">
      <div class="testamonial-image">
        <%= image_tag "testamonial_img.png", class:"face", alt:"face" %>
      </div>
      <div class="testamonial-text">
        <h6>
          <p>"Joining JuniorHub was one of the best decicions</p>
          <p>I made after graduating. It is super easy to join</p>
          <p>and I was able to find my dream developer role</p>
          <p>in a matter of minutes. I could contact the company</p>
          <p>directly through the app and was contacted quickly."</p>
        </h6>
        <h6><strong>- Stacy Peterson -</strong></h6>
      </div>
    </div>
  </div>
  <%# Popular blogs preview section %>
  <div class="popular-blogs">
    <div class="headline">
      <h3>Featured User Blogs</h3>
    </div>
    <div class="blog-preview">
      <%= video_tag "AI.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "blog_video" %>
      <div class="blog-text">
      <h3>Using AI to create a blog post</h3>
      <h6>Can AI write better blogs than humans?</h6>
      <h5>by Chatbot GPT</h5>
      <p>8 December, 2022</p>
      </div>
    </div>
  </div>
  <div class="spacer">
    <!--Waves Container-->
    <div class="wave-container">
      <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
      <defs>
      <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
      </defs>
      <g class="parallax">
      <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(226,226,226,0.7" />
      <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(226,226,226,0.5)" />
      <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(226,226,226,0.3)" />
      <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
      </g>
      </svg>
    </div>
    <!--Waves end-->
    </div>
  </div>
</div>



<%# show avatar if user logged in %>
<%# if user_signed_in? %>
  <%# if current_user.profile.avatar.attached? %>
  <%#= cl_image_tag current_user.profile.avatar.key, height: 300, width: 400, crop: :fill %>
  <%# end %>
<%# end %>
